body {

	background-image: #EEE;
	color: 222;
	font: 900 italic 18px Raleway, Arial, Helvectica, sans-serif;
}

h1 {
	font-size: 48px;
}

section {
	border-top: 1px solid #66;
}

.objective {
}

.first {
}

.highlight {
	background-color: blue;
}

#oliver {
}
